html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.car {
  position: relative;
  background-image: url("https://a.ccdn.es/cnet/contents/media/bmw/serie_1/1090637.jpg/0_235_1280_955//937x624cut/");
  background-size: cover;
  background-position: center center;
  width: 900px;
  height: 500px;
}

.stop-placeholder {
  visibility: visible;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.stop-label {
  font-size: 28px;
}

.clickable:hover {
  cursor: pointer;
}

.clickable:active {
  opacity: 0.4;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /* border-right: 15px solid rgb(255, 187, 0); */
  border-right: 15px solid rgba(255, 190, 0, 0.4);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /* border-left: 15px solid rgb(255, 187, 0); */
  border-left: 15px solid rgba(255, 190, 0, 0.4);
}

.lights {
  position: absolute;
  left: 43%;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.turn {
  left: 30%;
  width: 350px;
  top: 160px;
}

.trasmition {
  color: white;
}

.gearbox {
  bottom: 200px;
  right: 80px;
  position: absolute;
  width: 130px;
}

.pedals {
  height: 70px;
  position: absolute;
  bottom: 90px;
  left: 370px;
}

.pedal {
  height: 60px;
  font-size: 6px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #323332;
  color: #727883;
}

.pedal:hover {
  opacity: 0.8;
  background-color: #4a27e6;
}

.parking {
  position: absolute;
  right: 165px;
  bottom: 380px;
}

.had-b {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 45px;
  background-color: #ff0000;
}
.had-b:hover {
  opacity: 0.8;
  background-color: #00ff2a;
}

.had {
  position: absolute;
  bottom: 10px;
  right: 160px;
}

.turn-on {
  position: absolute;
  right: 300px;
  bottom: 200px;
  color: white;
}
